header.tab-list {
    padding: 0 20px;
    margin: 0 0 10px;
    display: flex;
    justify-content: center;
}

header.tab-list .tab {
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}

header.tab-list .tab.active {
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
}

section.tab-content .content-item {
    display: none;
}

section.tab-content .content-item.active {
    display: block;
}


