/*params list*/
.desc-tip {
  color: gray;
  user-select: none;
  font-size: small;
}

#params-list {
  padding-inline-start: 20px;
}
#params-list li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2px 0;
  border: 1px solid gray;
}
#params-list li span.time-str {
  line-height: 30px;
  padding: 0 2px;
}
#params-list li div.param-container .json-container {
  display: block;
}
#params-list li div.param-container .plant-param {
  display: none;
}
#params-list.display-as-string li div.param-container .json-container {
  display: none;
}
#params-list.display-as-string li div.param-container .plant-param {
  display: block;
}
