/*header input*/
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.input-container label[for='url-select'] {
  margin-right: 10px;
}
.input-container * {
  font-size: 16px;
}
#url-select {
  flex-grow: 1;
  margin-right: 10px;
}
#toggle-btn {
  margin-right: 10px;
}

