/*global*/
body {
  padding: 10px 20px;
  font-size: 16px;
}

/*header input*/
.input-container {
  display: flex;
}

.input-container * {
  font-size: 16px;
}

#url-select {
  flex-grow: 1;
  margin: 0 10px;
}

/*params list*/
.desc-tip {
  color: gray;
  user-select: none;
  font-size: small;
}
